html {
	font-family: 'Roboto', sans-serif;
	background-image: 
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

h1 {

}

h2 {

}

body .add-story-button {
	text-decoration: none;
	padding: 20px;
	background-color: black;
	color: white;
	vertical-align: middle;
	display: block;
	font-size: 120%;
}

body .advanced-search {

}

body .table-header {

}

body .table-content {
	
}