/* Styling the stories menu page */


/* Entire page */
.container {
	color: black;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif
	background-color: #FFFFFF;
	background-image:url(../images/dracula3.png);
}

/* Title of the page */

h1 {
	margin-bottom: 145px;
	font-size: 400%;
	font-weight: lighter;
	background-color: black;
	color: white;
	text-align: center;
	vertical-align: middle;
}

/* Menu  #f2f2f2 */

.site-nav li {
	list-style: none;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
	width: 600px;
	height: 75px;
	text-align: center;
	background: black;
}

.site-nav a {
	text-decoration: none;
	color: white;
	padding: 20px 20px;
	text-align: center;
	vertical-align: middle;
	display: block;
	font-size: 200%;
}

.site-nav li:hover {
	background-color: #ffcc00;
	font-color: black;
}

/* Footer, credits */
footer {
	size: 30%;
	margin-top: 145px;
	background-color: black;
	color: white;
}