/* red color #E74C3C, grey color #F2F4F4 */

/* Styling the entire page */

html {
	font-family: 'Open Sans', sans-serif;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-right: 40px;
	box-sizing: border-box;
}

/* Header */

header h1 {
	color: #E74C3C;
	text-align: center;
}


/* Add Story Button */

.add-story-button {
	color: #E74C3C;
	background-color: #F2F4F4;
	text-decoration: none;
	padding: 20px 40px;
	text-align: center;
	vertical-align: middle;
}

/* Search Story Fields */

.advanced-search {

}

/* Table */

.all-stories-table {

}

.table-header {


}

.table-content {

	
}

/* Footer */

footer {
	font-size: 85%;
	color: #F2F4F4;
	padding-bottom: 20px;
	padding-top: 20px;
}