/* Styling the home page */

html {
	color: #808080;
	text-align: center;
}

h1 {
	size: 175%;
}

.site-nav li {
	padding: 30px;
	margin-bottom: 50px;
	width: 200px;
	height: 100px;
	box-sizing: border-box;
}

footer {
	size: 75%;
}