/* Styling the home page */

.container {
	color: #808080;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

h1 {
	size: 150%;
}

.site-nav li {
	padding: 20px;
	margin-bottom: 20px;
	width: 150px;
	height: 75px;
	box-sizing: border-box;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
	text-align: center;
	size: 125%;
}

footer {
	size: 75%;
}