<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <header>
        <h1>
            Welcome to the Occidental Children's Theater Digital Library!
        </h1>
    </header>

    <div class="home-page-menu">
        <a href="https://octdl.herokuapp.com/stories-library">Stories Library</a>
        <a href="https://octdl.herokuapp.com/training-videos">Training Videos</a>
        <a href="https://octdl.herokuapp.com/photo-gallery">Photo Gallery</a>
        <a href="https://octdl.herokuapp.com/faqs">Frequently Asked Questions</a>
    </div>

    <footer>
        <p>&copy; 2017 Occidental Children's Theater. Web Design by Sarah Greilsamer.</p>
    </footer>

</body>

</html>