<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current Library</title>
    <link rel="stylesheet" href="/css/screen.css">
</head>
<body>

    <div class="menu-header">
			<header>
				<h1>Occidental Children's Theater Digital Library</h1>
				<h2>Current Library</h2>

				<nav class="site-nav">
					<ul class="list-pages">
						<li><a href="/">Home</a></li>
						<li><a href="/stories-menu">Stories Library</a></li>
						<li><a href="/training-videos">Training Videos</a></li>
						<li><a href="/photo-gallery">Photo Gallery</a></li>
                        <li><a href="/faqs">Frequently Asked Questions</a></li>
					</ul>
				</nav>
			</header>

    <div class="stories-menu">
        <ul class="list-stories-options">
            <li><a href="/stories-menu/current-library">View Current Library</a></li>
            <li><a href="https://drive.google.com/open?id=1b3ftUH8N9X3kw0eNZNCXINhZ8PiAXowYGJA859YeT4c">Add/Edit Current Library</a></li>
        </ul>
    </div>

    <footer>
        <p>&copy; 2017 Occidental Children's Theater. Web Design by Sarah Greilsamer.</p>
    </footer>

</body>
