<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current Library</title>
    <link rel="stylesheet" href="css/screen-storiesmenu.css">
</head>

<nav class="container">
    <body>
        <header>
            <h1>STORIES MENU</h1>
        </header>

        <nav class="site-nav">
            <ul>
				<li><a href="/">BACK TO HOMEPAGE</a></li>
	            <li><a href="/stories-menu/current-library">VIEW CURRENT LIBRARY</a></li>
                <li><a href="https://drive.google.com/open?id=1b3ftUH8N9X3kw0eNZNCXINhZ8PiAXowYGJA859YeT4c">ADD/EDIT CURRENT LIBRARY</a></li>
			</ul>
		</nav>

        <footer>
            <p>&copy; 2017 Occidental Children's Theater. Web Design by Sarah Greilsamer.</p>
        </footer>
    </body>
</nav>

