<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ student.first_name }} {{ student.last_name }}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <p></strong><span class = "student_name"><strong>{{ student.first_name }} {{ student.last_name }}</strong></span></p>
    <p><span class = "category">Email:</span> {{ student.username }}@oxy.edu</p>
    <p><span class = "category">Majors:</span> {{ student.majors }}</p>
    <p><span class = "category">Advisor:</span> {{ student.advisor }}</p>
    <p>
        <a href="/directory/{{ prev_student.username }}">Previous</a>
        <a href="/directory/{{ next_student.username }}">Next</a>
    </p>
</body>
</html>
