<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OCT Digital Library</title>
	<link rel="stylesheet" type="text/css" href="/css/screen.css">
</head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <header>
        <h1>Occidental Children's Theater</h1>
        <h2>Digital Library</h2>
    </header>

    <body>

        <div class="add-story-button">
            <a target="_blank" href="https://goo.gl/forms/w0n1MbcLYucNveur2">ADD STORY</a>
        </div>

        <div class="advanced-search">
            <form action="/" method="get">
                Title: <input type="text" name="title"><br>
                Origin: <input type="text" name="origin"><br>
                Book: <input type="text" name="book"><br>
                <input type="submit" value="Submit"><br>
            </form>
        </div>

        <div class="all-stories-table">
                    <table>
                        <div class="table-header">
                            <thead>
                                <tr>
                                    <th class="table-header">Title</th>
                                    <th class="table-header">Origin</th>
                                    <th class="table-header">Book</th>
                                </tr>
                            </thead>
                        </div>
                        
                        <div class="table-content">
                            <tbody>
                                    {% for story in query_results %}
                                    <tr>
                                        <td class="title-link"><a target="_blank" href="{{ story[-1] }}">{{ story[0] }}</a></td>
                                        <td class="origin">{{ story[1] }}</td>
                                        <td class="book">{{ story[2] }}</td>
                                    </tr>
                                    {% endfor %}
                            </tbody>
                        </div>
                    </table>
        </div>

        <footer>
            <p>&copy; 2017 Occidental Children's Theater. Web Design by Sarah Greilsamer.</p>
        </footer>
    </body>


</html>