<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current Library</title>
	<link rel="stylesheet" href="/css/screen.css">
</head>
<body>

	<div class="add-story-button">
		<a href="https://goo.gl/forms/w0n1MbcLYucNveur2">Add Story</a>
	</div>

	<div class="advanced-search">
		<form action="/" method="get">
    		Title: <input type="text" name="title"><br>
    		Origin: <input type="text" name="origin"><br>
			Book: <input type="text" name="book"><br>
			<input type="submit" value="Submit"><br>
		</form>
	</div>

	<div class="all-stories-table">
				<table class="all-stories-table">
					<thead>
						<tr>
							<th class="col-title">Title</th>
							<th class="col-origin">Origin</th>
							<th class="col-book">Book</th>
						</tr>
					</thead>

					<tbody>
							{% for story in stories %}
							<tr>
								<td class="title-link"><a href="{{ story[-1] }}">{{ story[0] }}</a></td>
								<td class="origin">{{ story[1] }}</td>
								<td class="book">{{ story[2] }}</td>
							</tr>
							{% endfor %}
					</tbody>
				</table>
			</div>
    </div>

    <footer>
        <p>&copy; 2017 Occidental Children's Theater. Web Design by Sarah Greilsamer.</p>
    </footer>

</body>
</html>